body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    min-width: 270px;
    background-color: #348350;
}

a {
    color: #4A793F;
    text-decoration: none;
}

h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.hr {
    margin: 15px 50px 15px 50px;
    background-color: lightgrey;
    height: 1px;
    width: calc(100% - 100px);
    float: left;
}

input.ng-invalid-email-already-registered {
    background-color: #FFE0E0;
}

button:focus,
a:focus {
    outline-color: #678C5F;
}

#header {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(250, 250, 250);
    position: relative;
}

#title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 19px;
}

/* generate block formatting context */
#header:after {
    clear: both;
    content: "";
    display: block;
}

.headerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-box {
    position: absolute;
    border: 1px solid #777777;
    margin-left: -1px;
    z-index: 10;
    padding: 0;
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 2px 2px #ccc;
}

#smartCategoryChooser,
#login {
    padding: 5px;
    margin: 15px 0;
    font-size: 14px;
}

#smartCategoryChooser {
    float: left;
}

#smartCategoryBox button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 5px;
    color: black;
    width: 100%;
    text-align: left;
}

#smartCategoryBox button:hover {
    background-color: #eeeeee;
}

#login,
#profile {
    float: right;
}

#profile {
    margin-top: 8px;
    padding: 0;
}

#profile > img {
    height: 40px;
}

#loginDropdownBox,
#profileDropdownBox {
    padding: 10px;
}

#profileDropdownBox p {
    margin-top: 0;
}

.loginButton,
.logoutButton {
    height: 30px;
    border: none;
    background-color: #678C5F;
    color: white;
    width: 100%;
    padding: 5px 15px;
    margin-top: 5px;
}

#loginDropdownBox .notRegisteredYet {
    margin-bottom: 0;
}

#loginBox {
    max-width: 300px;
    margin: 0 auto;
}

.registerImage {
    display: block;
    margin: 25px auto;
}

#content {
    display: inline-block;
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(250, 250, 250);
}

#newRedditButton {
    float: right;
    line-height: 20px;
}

#newRedditButton:hover {
    text-decoration: underline;
}

#newRedditButton.newRedditBoxHidden::before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    line-height: normal;
    content: url("../images/add.png");
}

#newRedditBox {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 75px;
}

.newCommentBox {
    padding-bottom: 15px;
}

#newRedditBox p,
.newCommentBox p {
    margin-top: 4px;
    margin-bottom: 4px;
}

#loginBox p {
    margin-top: 9px;
    margin-bottom: 9px;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

input {
    height: 30px;
}

input:required,
textarea:required {
    box-shadow: none;
}

input:focus,
textarea:focus {
    outline-color: #678C5F;
}

textarea {
    height: 60px;
    font-family: inherit;
    font-size: inherit;
}

#blankSlate {
    text-align: center;
    margin: 80px 0 120px 0;
}

#blankSlateArrow {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 170px;
    position: absolute;
    right: 70px;
    width: 28%;
    top: 0;
    border-bottom-right-radius: 100%;
}

#blankSlateArrow:before {
    content: "";
    position: absolute;
    border-right: 1px solid black;
    border-top: 1px solid black;
    transform: rotate(-45deg);
    height: 20px;
    width: 20px;
    right: -11px;
    top: -4px;
}

#reddits {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 15px;
}

.redditContent,
.comments {
    position: relative;
    padding-left: 75px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.redditContent {
    min-height: 90px;
}

.formButton {
    height: 30px;
    border: none;
    background-color: #678C5F;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.formButton:focus {
    outline-color: #041500;
}

.redditContent button,
.comment button,
#newRedditButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.redditContent button:hover,
.comment button:hover {
    text-decoration: underline;
}

.details {
    white-space: nowrap;
    font-size: 12px;
    color: grey;
}

.rating {
    position: absolute;
    left: 0;
    text-align: center;
    color: grey;
}

.ratingValue {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ratingChange {
    padding: 0;
    margin: 0 auto;
}

.ratingUp::before, .ratingDown::before {
    width: 18px;
    height: 18px;
}

.ratingUp::before {
    content: url("../images/rating_up.png");
}

.ratingUpDone::before {
    content: url("../images/rating_up_done.png");
}

.ratingDown::before {
    content: url("../images/rating_down.png");
}

.ratingDownDone::before {
    content: url("../images/rating_down_done.png");
}

button.ratingDownDone,
button.ratingUpDone {
    cursor: default;
}

.actionBar {
    white-space: nowrap;
}

.actionBar > span {
    margin-right: 5px;
}

.actionBar > span:before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    line-height: normal;
}

.actionBar > button {
    padding: 0;
    margin-right: 10px;
}

.actionBar > button:before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.newComment::before {
    content: url("../images/comment_new.png");
}

.commentCount::before {
    content: " (";
}

.commentCount::after {
    content: ")";
}

.share::before {
    content: url("../images/share.png");
}

.more::before {
    content: url("../images/more.png");
}

.comments {
    padding-top: 20px;
}

.comments .hr {
    margin-right: 100px;
    width: calc(100% - 150px);
}

.commentSubmit {
    margin-bottom: 20px;
}

.commentDetails {
    font-size: 12px;
    color: grey;
}

.commentActionBar {
    line-height: 30px;
    font-size: 12px;
    color: grey;
}

.commentRating button {
    vertical-align: middle;
}

.commentRating .ratingValue {
    display: inline-block;
    padding: 0 5px;
}

@media (max-width: 600px) {

    #blankSlateArrow {
        width: 20%;
    }

}

@media (max-width: 500px) {

    #blankSlateArrow {
        width: 10%;
    }

    #newRedditBox,
    .redditContent,
    .comments {
        padding-left: 0;
        width: 100%;
    }

    .redditContent button > span:first-child {
        display: none;
    }

    .rating {
        bottom: 0;
    }

    .rating button {
        vertical-align: middle;
    }

    .ratingValue {
        display: inline-block;
        padding: 0 5px;
    }

    .actionBar {
        margin-left: 130px;
    }

    .hr {
        margin-right: 25px;
        margin-left: 25px;
        width: calc(100% - 50px);
    }

    .comments .hr {
        margin-right: 50px;
        margin-left: 50px;
        width: calc(100% - 100px);
    }
}

@media (max-width: 400px) {

    #blankSlateArrow {
        height: 60px;
    }

}