body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  background-color: rgb(135, 180, 155);
}

a {
  color: #00B7FF;
}

h1 {
  margin-top: 0px;
  font-size: 18px;
}

.hr {
 margin: 15px 50px 15px 50px;
 background-color: lightgrey;
 height: 1px;
 width: calc(100% - 100px);
 float: left;
}

#header {
  width: calc(100% - 30px);
  border-bottom: 1px solid lightgray;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

.navButton {
  padding: 5px;
  margin-bottom:14px;
  margin-top:14px;
  display: inline-block;
}

.origin {
 font-size: 12px;
}

#admin {
 float: right;
 margin-top:7px;
}
#admin > img {
    height: 40px;
}

#content {
    display:inline-block;
    position: relative;
    float: left;
    width: calc(100% - 30px);
    padding: 10px 15px;
    background-color: white;
}

#newReddit {
    float: right;
    line-height: 20px;
    cursor: pointer;
}

#newReddit:hover {
    text-decoration: underline;
}

#newReddit::before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    line-height: normal;
    content: url("images/add.png");
}

#newRedditContent {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 30px;
}

#reddits {
    position: relative;
    float: left;
    width: 100%;
}

.reddit {
    position: relative;
    padding-left: 75px;
    padding-right: 135px;
    float: left;
    overflow: hidden;
    width: calc(100% - 135px - 75px);
}

.details {
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
    white-space: nowrap;
    font-size: 12px;
}



.rating::before {
    content: url("images/rating_up.png");
    display: block;
    clear: both;
    text-align:center;
    line-height: normal;
}

.rating {
    position: absolute;
    left: 0px;
    text-align:center;
    line-height: 30px;
}

.rating::after {
    content: url("images/rating_down.png");
    display: block;
    clear: both;
    text-align:center;
    line-height: normal;
}

.actionBar  {
    line-height: 50px;
}

.actionBar > span {
    margin-right: 5px;
}

.actionBar > span:before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    line-height: normal;
}

.newComment::before {
    content: url("images/comment_new.png");
}

.share::before {
    content: url("images/share.png");
}

.more::before {
    content: url("images/more.png");
}