body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  background-color: rgb(135, 180, 155);
}

a {
  color: #00B7FF;
  text-decoration: none;
}

h1 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 18px;
}

.hr {
 margin: 15px 50px 15px 50px;
 background-color: lightgrey;
 height: 1px;
 width: calc(100% - 100px);
 float: left;
}

#header {
  width: calc(100% - 30px);
  border-bottom: 1px solid lightgray;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

.navButton {
  padding: 5px;
  margin-bottom:14px;
  margin-top:14px;
  display: inline-block;
}

#admin {
 float: right;
 margin-top:7px;
}
#admin > img {
    height: 40px;
}

#content {
    display:inline-block;
    position: relative;
    float: left;
    width: calc(100% - 30px);
    padding: 10px 15px;
    background-color: white;
}

#newRedditButton {
    float: right;
    line-height: 20px;
    cursor: pointer;
}

#newRedditButton:hover {
    text-decoration: underline;
}

#newRedditButton.newRedditBoxHidden::before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    line-height: normal;
    content: url("images/add.png");
}

#newRedditBox {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 75px;
}

#titleField,
#linkField,
#textField {
    width: 400px;
}

#reddits {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 15px;
}

.redditContent,
.comments {
    position: relative;
    padding-left: 75px;
    float: left;
    overflow: hidden;
    width: calc(100% - 75px);
}

.redditContent button,
.comment button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.redditContent button:hover,
.comment button:hover {
    text-decoration: underline;
}

.details {
    white-space: nowrap;
    font-size: 12px;
    color: grey;
}

.rating {
    position: absolute;
    left: 0px;
    text-align:center;
    color: grey;
}

.ratingValue {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ratingUp, .ratingDown {
    padding: 0px;

    margin: 0 auto;
}

.ratingUp::before {
    content:url("images/rating_up.png");
    width: 18px;
    height: 18px;
}

.ratingDown::before {
    content:url("images/rating_down.png");
    width: 18px;
    height: 18px;
}

.actionBar {
    white-space: nowrap;
}

.actionBar > span {
    margin-right: 5px;
}

.actionBar > span:before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    line-height: normal;
}
.actionBar > button {
    margin-right: 5px;
}

.actionBar > button:before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.newComment::before {
    content: url("images/comment_new.png");
}

.share::before {
    content: url("images/share.png");
}

.more::before {
    content: url("images/more.png");
}

.comments {
    padding-top: 20px;
}

.commentField {
    width: 400px;
}

.commentSubmit {
    margin-bottom: 20px;
}

.commentDetails {
    font-size: 12px;
    color: grey;
}


.commentActionBar  {
    line-height: 30px;
    font-size: 12px;
    color: grey;
}

.commentRating button {
    vertical-align: middle;
}

.commentRating .ratingValue {
    display: inline-block;
    padding: 0px 5px;
}

@media (max-width: 500px) {
    #newRedditBox,
    .redditContent,
    .comments {
        padding-left: 0px;
        width: 100%;
    }

    .redditContent button > span,
    .comment button > span {
        display: none;
    }

    .rating {
        bottom: 0px;
    }

    .rating button {
        vertical-align: middle;
    }

    .ratingValue {
        display: inline-block;
        padding: 0px 5px;
    }

    .actionBar {
        margin-left: 130px;
    }

    .hr {
        margin: 15px 25px 15px 25px;
        width: calc(100% - 50px);
    }
}