<form id="loginBox" name="loginForm">
    <input ng-model="user.email" type="text" id="userEmailField" placeholder="E-Mail" required><br>
    <input ng-model="user.password" type="password" id="userPassword" placeholder="Passwort" required><br>
    <p class="error" ng-show="error" ng-bind="error"></p>
    <p>
        <button class="formButton" ng-click="loginForm.$valid && login(user);" id="loginButton">Login</button>
    </p>
    <p>
        <a href="#register">Noch nicht registriert?</a>
    </p>
</form>